@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);

*   {

    margin: 0;
    padding: 0;
   
    
    }
    
    body {
    
    height: 4000px;
    background-color: rgb(37, 37, 37) !important;
    
    }
    img{
        width: 20%;
        height: auto;
    }


    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
        overflow-y: scroll;
      }
      
      .js-cont {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .js-scroll {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        will-change: transform;
    }
    
.p{
    color: #fff;
}




  
    .navbar-brand {

    margin-top: -30px;
    width: 500px;
    height: 50px !important;
  
    }

    .navbar {
    
    padding: 22px 0px;
    background-color: rgba(26, 22, 22, 0.397) !important;;
    border-bottom: 5px solid rgba(26, 23, 23, 0.815) !important;
    transition: all 0.  3s ease-in-out;
    
    }
    
    .navbar ul li a {
    
    color: rgb(255, 255, 255) !important;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    
    }
    
    .navbar ul li a:hover {
        border: -1px solid;
        border-radius: 50px;
        border-top: 3px solid;
        border-left: 3px solid;
        background-color: rgb(255, 255, 255) !important;
        color: #34495e!important;
        
    }
    
    .navbar-toggle {
    
    border: 1px solid rgb(255, 255, 255) !important;
    transition: all 0.1s ease-in-out;
    
    }
    
    .navbar-toggle:hover {
    
    background-color: rgb(202, 198, 198) !important;
    
    } 
    
    .navabr-inverse .navbar-collapse {
    
    border-color: transparent !important;
    
    }
    
    /* SLIDER START  */
    
    .slider {
    
    width: 100%;
    height: 700px;
    background-image: url(/img/wallpaper1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    
    }
    
    .slider-overlay {
    
    width: 100%;
    height: 100%;
    background-color: rgba(24, 22, 22, 0.521);
    position: relative;
    color: white;
    
    }
    
    .slider-content {
    
    position: absolute;
    top: 40%;
    width: 100%;
    
    }
    
    .icons .fa {
   padding-left: 10px;
   padding-right: 10px;
    padding-right: 19px;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: rgb(252, 252, 252);
    
    
    }
    
    .icons .fa.fa-apple:hover {
     
    border: -1px solid;
    border-left:5px solid white ;
    border-right: 5px solid white;
    border-radius:100px;
    color: rgb(255, 255, 255) !important;
    
    
    }
    
    .icons .fa.fa-android:hover {
    border: -1px solid;
    border-left:5px solid white ;
    border-right: 5px solid white;
    border-radius:100px;
    color: rgb(255, 255, 255) !important;
    
    
    }
    
    .icons .fa.fa-windows:hover {
    
    border: -1px solid;
    border-left:5px solid white ;
    border-right: 5px solid white;
    border-radius:100px;
    color: rgb(255, 255, 255) !important;
    
    }
    
    .cta-div {
    
    margin-top: 10px;
    margin-right: 28px;
    margin-left: -10px;
    font-size: smaller;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .btn1 {
    
    padding: 13px 18px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font: size 13px;
    border: 2px solid white;
    border-top-left-radius: 15px;
    transition: all 0.3s ease-in-out;
    margin-right: -40px;
    
    }
    
    .btn1:hover {
    
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: rgba(190, 56, 56, 0.432);
        border-color: rgba(248, 2, 2, 0.623);
        
    }
    
    .btn2 {
    
    padding: 13px 18px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font: size 13px;
    border: 2px solid white;
    border-bottom-right-radius: 15px;
    transition: all 0.3s ease-in-out;
    margin-left: 45px;    
   
    
    }
    
    .btn2:hover {
     
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: rgba(190, 56, 56, 0.432);
        border-color: rgba(248, 2, 2, 0.623);
        
        
    }
    
    /* SLIDER ENDS */
    
    
    /* SOCIAL NETWORK DESIGN */
    
    .social-networks a.fa {
    
    border: 1px solid white;
    padding: 10px;
    color: white;
    width: 60px;
    height: 45px;
    font-size: 25px;
    border-radius: 25px;
    border: 3px solid rgb(255, 0, 0);
    margin-right: 20px;
    
    transition: all 0.3s ease-in-out;
    
    }
    
    .social-networks a.fa:hover {
    
    text-decoration: none;

    background-color: rgb(255, 0, 0);
    color: black;
    border: 2px solid rgb(255, 0, 0);
    -webkit-box-reflect: below 5px -webkit-linear-gradient(transparent, rgba(216, 202, 202, 0.116)) !important;
    
    
    }
    
    .social-networks a.fa.fa-facebook:hover {
    
    background-color: rgb(255, 255, 255);
    color: rgb(250, 1, 1);
    
    }
    
    .social-networks a.fa.fa-instagram:hover {
    
        
        background-color: rgb(255, 255, 255);
        color: rgb(250, 1, 1);
    
    }
    
    .social-networks a.fa.fa-twitter:hover {
    
        
        background-color: rgb(255, 255, 255);
        color: rgb(250, 1, 1);
    
    }

    
    




    .slider .text, .slider .typed-cursor
    {
        display: inline;
        font-size: 50px;
        text-transform: uppercase;
    }
    
    
    .primary
    {
        color: rgba(255, 255, 255, 0.623);
    }
    
    .typed-cursor
    {
      opacity: 1;
      animation: blink 0.7s infinite;
      -webkit-animation:blink 0.7s infinite;
      -mox-animation:blink 0.7s infinite;
        
        
    }
    
    @keyframes blink
    {
        0%
        {
            opacity: 1;
        }
         
        50%
        {
            opacity: 0;
        }
        
        100%
        {
            opacity: 1;
        }    
    }
    
    @-webkit-keyframes blink
    {
        0%
        {
            opacity: 1;
        }
        
        50%
        {
            opacity: 0;
        }
        
        100%
        {
            opacity: 1;
        }
    }
    @-moz-keyframes blink
    {
        0%
        {
            opacity: 1;
        }
        
        
        50%
        {
            opacity: 0;
        }
        
        100%
        {
            opacity: 1;
        }
    }  
    
    /*=======================================*/
              


.secondary
{
    background-color:#34495e !important;
    border-bottom: 5px solid rgb(212, 206, 206) !important;
    
}



.service-area{
    background: fixed;

}

header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 60px;
    z-index: 100000;
        
    }

    header.sticky {

    padding: 45px 20px;
    background: rgba(0, 0, 0, 0.664);
        
    }

    /* Services Styles */



    .b{
        color: aliceblue;
    }

    .service-area {
        margin-top: 30px;
    }

    .service-area p {
        margin-bottom: -5px;
    }

    .service-wrap {
        box-shadow: 0 0 10px rgba(78, 78, 78, 0.2);
        overflow: hidden;
        padding: 25px 35px;
        position: relative;
        transition: all .5s ease 0s;
        z-index: 9;
        margin-top: 9px;
        border: 10px solid rgb(24, 23, 23);
        border-radius: 100%;

    }

    .service-wrap::before, .service-wrap::after {
        content: "";
        height: 300%;
        position: absolute;
        transform: rotate(45deg);
        width: 120%;
        z-index: -9;
        transition: all .5s;
        opacity: 0;
        background-color: #5d6166;
        box-shadow: #ffffff;
      
    }

    .service-wrap::before {
        top: -37px;
        left: 100%;
    }

    .service-wrap:hover:before {
        left: -27px;
        opacity: 1;
    }

    .service-wrap::after {
        right: 100%;
        bottom: -37px;
    }
    .service-wrap:hover:after {
        right: -27px;
        opacity: 1;
    }

    .service-wrap:hover {
        color: white;
    
    }

    .service-wrap:h3 {
        color: white;
    }

    .service-wrap:hover h3 {
        color: white;
    }

    .service-wrap:hover h3:after {
        background-color: white;
    }

    .service-icon i {
        font-size: 30px;
        margin-bottom: 20px;
        transform: all .5s;
    }

    .service-wrap:hover .service-icon i {
        transform: rotate(360deg);
    }

    .service-wrap h3 {
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 15px;
        position: relative;
    }

    .service-wrap p {
        font-size: 14px;
        margin-bottom: 0;
    }

    .col-md-4 {
        cursor: pointer;
    }

    b, strong {
        cursor: default;
        color: rgb(248, 252, 252);
    }



/* Service Style End */




/* Work Markup Start */

.border-bottom2 {
    width: 100px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}



  .team-members h4{
    color: #d3c7c7 !important;
  }
  

.work.wow.bounceInUp h2{
    color: #777474;
    transition: all .5s;
}
.work.wow.bounceInUp p{
    color: #777474;
    transition: all .5s;
}

.work.wow.bounceInUp p:hover{
    color: #ffffff;
}
.work.wow.bounceInUp h2:hover{
    color: #ffffff;
}

.para1 {
    text-align: center;
    padding-bottom: 35px;
  }

.h2, h2 {
    text-align: center;
  }

.row.no-gutters [class*=col-] {
padding: auto;
}

.row.no-gutters {
    width: 100%;
   height: 100%;
}

.row.no-gutters img{

    width: 500%;
    height: 500%;
}


.img-wrapper {
    padding-bottom: 10%;
    padding-bottom: 10%;
    overflow: hidden !important;
    border-radius: 5%;
  
}

.img-wrapper img {
    transition: transform .5s ease-in-out;
    width: 100%;
    border-radius: 5%;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}
/* Work Markup End */






/* Team markup Start */

.teams h2{

    color: #ffffff;
}

.teams p{

    color: #ffffff;
}

.owl-carousel .owl-item img {
    overflow: hidden !important;    width: 100%;
    border: 4px solid transparent;
    transition: transform .10s ease-in-out;
    border-radius: 10%;
    padding: 5px;
  }
  .owl-carousel .owl-item img:hover {
    width: 100%;
    border: 4px solid #34495e;
    border-radius: 10%;
    padding: 5px;

  }



.border-bottom3 {
    width: 150px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}



.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation {
    color: rgb(248, 248, 248);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    text-transform: capitalize;
    font-style: italic;
}

.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-list i {
    font-size: 17px;
}

.icon-gray i {
    color: gray;
}



/* TEAM MARKUP ENDS HERE*/






/* Testimonial Markup Start */

.testimonials {
    color: white;
    background-image: url(..//img/wallpaper1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 250px;
}
.testimonials .carousel-indicators {
    bottom: -60px;
}
.border-bottom {
    width: 150px;
    height: 2px;
    background-color: white;
    margin: 0 auto;
}
.carousel-inner p {
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1px;
}
.carousel-inner img {
    width: 200px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid white;
    padding: 5px;
}

/* Testimonial Markup End */

/* Carrier Markup Start */

.border-bottom4 {
    width: 250px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}

.accordion {
    max-width: 600px;
    margin: 50px auto;
  }

  .accordion-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
  }

  .accordion-header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    cursor: pointer;
  }

  .accordion-content {
    display: none;
    padding: 15px;
  }

  .accordion-item.active .accordion-content {
    display: block;
  }

/* Carrier Markup End */

/* Location Markup Starts */

.border-bottom5 {
    width: 170px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.location {
    background-color: rgba(75, 74, 74, 0.616);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    color: white;
    border-radius: 50px;
}

.iframe-container {
    position: relative;
    width: 58%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
    border: 4px solid black; /* Add a black border */
    overflow: hidden; /* Ensure the border doesn't affect layout */
}

/* Location Markup End */



